.link-card {
  position: relative;
  width: 100%;
  cursor: pointer;

  box-shadow:
    0 8px 18px rgba(0,0,0,0.16),
    0 4px 8px rgba(0,0,0,0.10);

  overflow: hidden;

  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.link-card:not(.link-card--static):hover,
.link-card:not(.link-card--static):focus {
  transform: scale(1.02);

  /* box-shadow:
    0 10px 26px rgba(0,0,0,0.2),
    0 4px 10px rgba(0,0,0,0.1); */

  outline: none;
}

.link-card:not(.link-card--static):active {
  transform: scale(0.98);
}

.link-card--static {
  cursor: default;
}

/* image now defines the height */
.link-card__image {
  width: 100%;
  height: auto;
  display: block;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.18); */
}

/* overlay for text readability */
.link-card__overlay {
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0.05),
    rgba(0,0,0,0.2)
  );

  pointer-events: none;
}

.link-card__title {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  font-weight: 500;
  color: #000;

  padding: 0 12px;
}

.link-card:not(.link-card--static):hover .link-card__title,
.link-card:not(.link-card--static):focus .link-card__title {
  font-weight: 500;
}
